body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

h1, .info {
    text-align: center;
}

#keyboard {
    width: 890px;
    height: 300px;
    border: 1px solid darkblue;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 5px;
    user-select:none;
}

.input {
    width: 700px;
    height: 200px;
    border: 1px solid grey;
    border-radius: 3px;
    resize: none;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid blueviolet;
    border-radius: 2px;
    height: 50px; 
}

.button:hover {
    box-shadow: 0 0.5em 0.5em -0.4em blue;    
    cursor: pointer;
}

.button-active {
    transform: scale(0.9);
    background-color: rgba(0,0,255, 0.1);   
    transition-duration: 0.3s;  
}

.button-squared {
    width: 50px;       
}

.button-backspace {
    width: 147px;
}

.button-capslock {
    width: 100px;
}

.button-tab {
    width: 70px; 
}

.button-delete {
    width: 70px; 
}

.button-enter {
    width: 154px;
}

.button-shiftLeft {
    width: 147px;
}

.button-shiftRight {
    width: 107px;
}

.button-space {
    width: 432px;
}

